<div class="uk-grid uk-grid-width-medium-1-2" data-uk-grid-margin>
    <div class="uk-height-viewport" style="overflow-y: auto;">
        <div class="uk-panel uk-panel-space">
            <ul class="uk-list uk-list-line">
                <li v-for="item in cart.items">
                    <cart-item :item.sync="item"></cart-item>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="uk-height-viewport uk-panel uk-panel-box uk-flex uk-flex-wrap uk-flex-wrap-space-between">
            <div class="uk-width-1-1">
                <a class="uk-close uk-position-top-right uk-margin-small-right uk-margin-small-top" @click="closeCart"></a>
                <div class="uk-flex uk-flex-middle uk-flex-space-around">
                    <strong>{{ nr_items_format }}</strong>
                    <h4 class="uk-margin-remove">{{ total_price | currency filter.currency }}</h4>
                </div>
            </div>
            <div class="uk-width-1-1" style="overflow-y: auto; height:calc(100vh - 185px);">
                <div v-show="cart.items.length" class="uk-margin-small-right">

                    <cart-address v-ref:delivery class="uk-margin"
                                  :on-valid="saveCart"
                                  :title="$trans('Delivery address')"
                                  :address.sync="cart.delivery_address"
                                  :countries="countries"></cart-address>

                    <template v-if="delivery_valid">
                        <h3>{{ 'Delivery options' | trans }}</h3>

                        <cart-delivery class="uk-margin"></cart-delivery>

                        <h3>{{ 'Payment options' | trans }}</h3>

                        <cart-payment :card.sync="cart.card" class="uk-margin"></cart-payment>

                        <div class="uk-margin">
                            <i class="uk-icon-tag uk-icon-hover uk-margin-small-right"></i>
                            <strong>{{ 'Order reference' | trans }}</strong>
                            <a v-if="!cart.order.reference" class="uk-margin-small-left"
                               @click="reference_show = true">{{ 'Add' | trans }}</a>

                            <div v-if="cart.order.reference || reference_show" class="uk-margin uk-form">
                                <input type="text" v-model="cart.order.reference" class="uk-width-1-1"/>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <i class="uk-icon-comment-o uk-icon-hover uk-margin-small-right"></i>
                            <strong>{{ 'Order comment' | trans }}</strong>
                            <a v-if="!cart.order.comment" class="uk-margin-small-left"
                               @click="comment_show = true">{{ 'Add' | trans }}</a>

                            <div v-if="cart.order.comment || comment_show" class="uk-margin uk-form">
                                <textarea v-model="cart.order.comment" class="uk-width-1-1" cols="30" rows="3"></textarea>
                            </div>
                        </div>

                        <cart-terms class="uk-margin" :confirmed.sync="cart.confirmed"></cart-terms>

                    </template>

                </div>
                <div v-else class="uk-width-1-1 uk-alert uk-text-center">
                    {{ 'No items in your cart yet!' | trans }}
                </div>

            </div>
            <div class="uk-width-1-1 uk-flex uk-flex-middle uk-flex-space-between uk-flex-wrap" data-uk-margin>
                <div>
                    <button type="button" class="uk-button" @click="closeCart">{{ 'Close' | trans }}</button>
                    <button type="button" class="uk-button" :disabled="!cart.items.length"
                            @click="emptyCart">{{ 'Empty cart' | trans }}</button>
                </div>
                <button type="button" class="uk-button uk-button-large uk-button-primary" :disabled="!cart_valid"
                        @click="doCheckout"><i v-spinner="checkingout" icon="check"></i>{{ 'Order now' | trans }}</button>
            </div>
        </div>

    </div>
</div>
<div v-el:checkoutmodal class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-close" @click="checkoutModalClose"></a>

        <div v-if="checkout.error" class="uk-margin-large-top">
            <div class="uk-alert uk-alert-warning">{{ checkout.errormessage }}</div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="uk-button" @click="checkoutModalClose">{{ 'Close' | trans }}</button>
            </div>
        </div>

        <div v-if="checkout.redirect_url" class="uk-margin-large-top uk-text-center">
            <h1 v-if="order.status == 1" class="uk-heading-large"><i class="uk-icon-check uk-text-success uk-margin-small-right"></i>
                {{ 'Payment successful' | trans }}</h1>

            <p>{{ 'You are redirected...' | trans }}</p>

            <p><i class="uk-icon-refresh uk-icon-spin"></i></p>

        </div>

    </div>
</div>
